<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.goldrushtrail"
    android:versionCode="1"
    android:versionName="1.0">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissionsds for the 'MyLocation' functionality.
    -->
    <!--
     The following two permissions are not required to use
     Google Maps Android API v2, but are recommended.
    -->
    <!-- TODO: Change the name of the  NavigationItemHelpActivity to NavigationItemContactActivity -->

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".LocationDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TourDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NavigationDrawerActivity"
            android:label="@string/title_goldcoastlocation_list"
            android:screenOrientation="portrait"

            android:theme="@style/AppTheme" />
        <activity
            android:name=".locations.NavigationItemHelpActivity"
            android:label="Help"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".NavigationItemAboutActivity"
            android:label="@string/title_activity_navigation_item_about"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".NavigationItemHelpActivity"
            android:label="@string/title_activity_navigation_item_help"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".NavigationItemDevelopersActivity"
            android:label="@string/title_activity_navigation_item_developers"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".TourImagesActivity" />
        <activity
            android:name=".LocationDetailImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar.Transparent"/>
    </application>

</manifest>